@font-face {
  font-family: HKGrotesk;
  font-weight: regular;
  src: url("../../fonts/hk-grotesk/HKGrotesk-Medium.otf") format("opentype");
}

.db-grid {
  display: grid;
  grid-template-columns: 270fr 269fr 270fr 320fr;
  grid-template-rows: 16rem 60rem;
  gap: 2rem;
  margin-left: 14rem;
  margin-right: 6rem;
}
.e2{
  transform: translateY(-8%);
  grid-column: 1/4;
  
}


.e3{
  transform: translateY(50%);
}


