@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

.chip {
    display: flex;
   
    width: 25rem;
    gap: 1.5rem;
    background-color: #E5E5E7;
    border-radius: 0.5rem;
   padding: 1.5rem;
}
.front-row {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: space-around;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: #020617;

}

.main-data{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}
.sub-data {
    font-family: "Lato",sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
    
}