@font-face {
  font-family: Ridley-grotesk;
  font-weight: regular;
  src: url("../../../fonts/ridley-grotesk/Ridley\ Grotesk\ Regular.otf")
    format("opentype");
}

@font-face {
  font-family: Ridley-grotesk;
  font-weight: bold;
  src: url("../../../fonts/ridley-grotesk/Ridley\ Grotesk\ SemiBold.otf")
    format("opentype");
}

.title {
  font-family: "Ridley-grotesk";
  font-size: 2.2rem;

  margin-left: 0.8rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}
.reminders {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.card {
  padding: 1.6rem 1.4rem;
  border-radius: 0.8rem;
  height: 6.4rem;
  background-color: #e5e5e7;
}

.text-flex{
    font-family: 'Ridley-Grotesk';
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}
