@font-face {
  font-family: Ridley-grotesk;
  font-weight: regular;
  src: url("../fonts/ridley-grotesk/Ridley\ Grotesk\ Regular.otf")
    format("opentype");
}

@font-face {
  font-family: HK-Grotesk-Medium-Legacy;
  src: url("../fonts/hk-grotesk/HKGrotesk-MediumLegacy.otf") format("opentype");
}
@font-face {
  font-family: HK-Grotesk;
  font-weight: regular;
  src: url("../fonts/hk-grotesk/HKGrotesk-Regular.otf") format("opentype");
}
@font-face {
  font-family: HK-Grotesk-Light;
  src: url("../fonts/hk-grotesk/HKGrotesk-Light.otf") format("opentype");
}
.customer-count {
  height: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: "Ridley-grotesk";
  letter-spacing: 0.1rem;

  color: #020617;
  font-size: 1.8rem;
}
.donut {
  margin: 0 auto;
  position: relative;
}

.detail-row {
  display: flex;
  justify-content: end;
}
.label {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  font-family: "HK-Grotesk-Medium-Legacy", sans-serif;
  font-size: 2.2rem;
  color: #020617;
}
.color-palette {
  display: flex;
  justify-content: space-between;
}

.details {
  text-decoration: none;
  color: #22afff;
  font-size: 1.2rem;
}
.flex {
  display: flex;
  align-items: center;
}
.color-palette {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.color-segment {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.color-text {
  font-family: "HK-Grotesk", sans-serif;
  color: #020617;
  font-size: 1.3rem;
}
.palette {
  width: 1.5rem;
  height: 0.8rem;

  border-radius: 0.4rem;
}
.blue1 {
  background-color: #172a73;
}
.dim {
  background-color: #85b6ff;
}
.white1 {
  background-color: #ced4da;
}
.ocean {
  background-color: #22afff;
}
.center-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.center-subheading{
  font-family: "HK-Grotesk-Light";

  font-size: 1.4rem;

}
